.maincontainer {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
background: url("https://media.istockphoto.com/id/1175053786/photo/empty-dark-blue-with-black-vignette-studio-well-use-as-background.jpg?s=612x612&w=0&k=20&c=IT9t6f8iXxkdjo9qJPVnBh2zgNdZyt8LxUMuZCKDBl4=");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.maincontainer::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  z-index: -1;
}
.forgot-password-container {
  max-width: 400px;
  margin: 12% auto;
  padding: 40px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  
}

.forgot-password-container input {
  width: 90%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.forgot-password-container input:hover{
  border:1px solid blue ;
}

.forgot-password-container button {
  width: 100%;
  padding: 12px 0;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
  background-color:#0056b3;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: rgb(49, 49, 253);
}
.password-field {
  position: relative;
  width: 90%;
}
.password-field input {
 width: 100%; 
 margin-bottom: 20px;
}
.password-field input:hover{
  border:1px solid blue ;
}
.password-field .icon-eye {
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  color: #b2b0b0;
  font-size: 18px;
}
.back-link {
  margin-top: 20px;
}
.back-link a{
    color: blue;
}
.back-link a:hover{
    color: blueviolet;
}
